Unable to open database error after updating to v5.4.4

**Describe the bug**
My docker container auto updated to the latest 5.4.4 and I was not able to login anymore. Looking at the logs, I am getting the below errors. Tried what I could to fix it, but nothing worked. I then deleted the docker stack and reinstalled, but I am getting the same error on the fresh install using the new docker compose. 

`Unable to open database!: SqliteFailure(Error { code: CannotOpen, extended_code: 14 }, Some("unable to open database file: urls.sqlite"))
note: run with RUST_BACKTRACE=1 environment variable to display a backtrace
thread 'main' panicked at /cargo/registry/src/index.crates.io-6f17d22bba15001f/actix-server-2.5.0/src/worker.rs:476:27:
called 'Result::unwrap()' on an 'Err' value: RecvError`

**To Reproduce**
Steps to reproduce the behavior:
- Install through docker compose

**Expected behavior**
Login and use the app

**Which version of Chhoto-URL are you experiencing the problem on?**
Latest - 5.4.4

**Can you reproduce the issue in the latest version?**
Yes

**Desktop (please complete the following information):**
 - Linux/Docker

Hi, can you post a copy of your docker compose file?

> Hi, can you post a copy of your docker compose file?
 
 Here it is:

```
services:
    chhoto-url:
        image: sintan1729/chhoto-url:latest
        restart: unless-stopped
        network_mode: bridge
        container_name: chhoto-url
        ports:
            - 4567:4567
        environment:
            # Change if you want to mount the database somewhere else.
            # In this case, you can get rid of the db volume below
            # and instead do a mount manually by specifying the location.
            # - db_url=/urls.sqlite

            # Change it in case you want to set the website name
            # displayed in front of the shorturls, defaults to
            # the hostname you're accessing it from.
            - site_url=http://192.168.1.95:4567/

            - password=TopSecret

            # Pass the redirect method, if needed. TEMPORARY and PERMANENT
            # are accepted values, defaults to PERMANENT.
            # - redirect_method=TEMPORARY
            
            # By default, the auto-generated pairs are adjective-name pairs.
            # If you want UIDs, please change slug_style to UID.
            # Supported values for slug_style are Pair and UID.
            # The length is 8 by default, and a minimum of 4 is allowed.
            # - slug_style=Pair
            # - slug_length=8
            
            # In case you want to provide public access to adding links (and not 
            # delete, or listing), change the following option to Enable.
            # - public_mode=Disable
            
            # By default, the server sends no Cache-Control headers. You can supply a 
            # comma separated list of valid header as per RFC 7234 §5.2 to send those
            # headers instead.
            # - cache_control_header=no-cache, private
        volumes:
            - ./urls.sqlite:/urls.sqlite
```

If you're using the new docker compose file without any changes, you probably have a folder called `urls.sqlite` in the same folder. Stop the container, delete that folder, and create a file called `urls.sqlite` in the same folder, and start the container. If you have a pre-existing database, you can rename it to `urls.sqlite` (or change the `db_url` in the compose file). Make sure to keep a backup of it in case anything goes wrong.

If this solves the issue, I'll add it to README for now. But I'll try to think of a better way to solve it later.

> If you're using the new docker compose file without any changes, you probably have a folder called `urls.sqlite` in the same folder. Stop the container, delete that folder, and create a file called `urls.sqlite` in the same folder, and start the container. If you have a pre-existing database, you can rename it to `urls.sqlite` (or change the `db_url` in the compose file). Make sure to keep a backup of it in case anything goes wrong.
> 
> If this solves the issue, I'll add it to README for now. But I'll try to think of a better way to solve it later.

Created a file "urls.sqlite" in the app folder and started the container. Still getting the same error :( 
I had the app running with just one url so I ended up deleting the old folder and stack/container to start fresh. 

That's weird. I copied your compose file, created an empty `urls.sqlite` in the same directory, and started the container. And it works. Just out of abundance of caution, does your app directory look like this?
```
ls
----
compose.yaml  urls.sqlite
```

> That's weird. I copied your compose file, created an empty `urls.sqlite` in the same directory, and started the container. And it works. Just out of abundance of caution, does your app directory look like this?
> 
> ```
> ls
> ----
> compose.yaml  urls.sqlite
> ```

My directory is under the main docker folder "/var/lib/docker/volumes/chhoto-url/urls.sqlit". There is no file in there. I manually tried creating urls.sqlit file/folder, but got the same error when I run the container. I also added this path to the db_url variable, but that didn't help either. 

Okay, I may have an idea about what's happening. You should create that empty file where your compose file is. Or, use the newly updated compose file. I have added some instructions there in case you want to keep a copy of your database.

> Okay, I may have an idea about what's happening. You should create that empty file where your compose file is. Or, use the newly updated compose file. I have added some instructions there in case you want to keep a copy of your database.

Working now. I changed "directory:/urls.sqlite" to "directory:/db" without using the db_url variable. However, I don't see any database or compose file in the urls.sqlite folder. It's empty. 

I'm not exactly sure what your current setup is, but let me summarize what the issue was.
In your last compose file,
```
volumes:
            - ./urls.sqlite:/urls.sqlite
```
was trying to mount a file called `urls.sqlite` in the same directory as the compose file at `/urls.sqlite` in the container. Since the file didn't exist, it would create an empty directory there. But one can't create a database on a directory, hence the error.

The new compose file instead created a volume called `db`, mounts it at `/db` and then uses the `db_url` variable to create an empty file inside that directory. I believe in your case, the volume mount and the `db_url` are disjoint, so there are no issues.

The current compose file should give you persistent database through restart, but if you want the database outside the docker volume (e.g. for backup), follow the instructions in the compose file.